doctype
html
  head
    link(rel="shortcut icon" href="/favicon.png")
    link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/gh-fork-ribbons.css")
  body
  #wrap
    nav.navbar.navbar-default(role="navigation")
      .navbar-header
        a.navbar-brand(href="/") #{name} #{page ? ' - ' + page.title : ''}
    .container
      block content
  .github-fork-ribbon-wrapper.right
    .github-fork-ribbon
      a(href="https://github.com/jsoverson/gitfaq") Fork me on GitHub
  #footer
    .container
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-53866202-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
